/* Import Bootstrap styles */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital@1&display=swap');
  /* Use Poppins as the default font */
   * {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  /* Use consistent positive color patterns throughout */
  
  #wrapper {
   max-width: max-content;
   height: auto;
   padding: 0;
   margin: auto;
  
  }
  .overflow {
  overflow: hidden;
    
   
  }
  .above-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
     
   }
 
 
  
   .above-header.description{
     margin-left: 33px;
     color: silver;
       
     }
     .main-header{
      position: static;
      width: 100%;
      height: 100px;
      background-color: white;

     }
     .nav {
      position: fixed;
      display: flex;
      height: 150px;
      /* justify-content: space-between; */
      align-items: center;
      background-color: #f1f1f1;
      z-index: 1000;
    }
    
    .nav.brand-container {
     width: auto;
    }
    .logo, .logo:hover{
      margin-left: 1em;
      color: rgb(112, 99, 255);
      font-family: 'MuseoModerno', cursive;
      font-size: 36px;
      text-decoration: none;
      
    }
    
    .search-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      margin-left: .5em;
     
    }
    
    .search-form {
      display: flex;
      width: 100%;
      max-width: 400px;
      height: 2.5em;
      border-radius: 8px;
      background-color: gainsboro;
    }
    
    .search-form input {
      flex-grow: 1;
      border: none;
      background-color: transparent;
      color: gray;
      outline: none;
    }
    
    .search-form button {
      border: none;
      background-color: transparent;
      color: black;
      font-size: 1em;
      margin-right: 1em;
    }
    
    .nav-menu {
      display: flex;
      align-items: center;
      margin: 0 35px 0 0;
      list-style: none;
      flex-wrap: wrap; /* Allow the nav links to wrap within the container */
    }
    
    .nav-menu li {
      margin-left: 1em;
    }
    .nav-object {
      position: relative;
      width: 50px;
      height: 50px;
      margin: 10px 10px 0px 0;;
      background-color: rgb(46, 46, 46);
      border-style: solid;
      border-radius: 50px; /* Adjust the border radius as needed */
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
    }
    
    .nav-object a {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 12px 12px 0;
      text-align: center;
      align-content: center;
      font-size: 14px;
      color: #333;
      text-decoration: none;
    }
    .nav-item{
      width: auto;
      font-size: 18px;
     
    }
    
    .nav-link{
      margin: 0 1.5em 0 0;
    
    }
    .fas.fa-mobile-alt {
      color: orange;
      font-size: 33px; /* Adjust the font size as needed */
      margin-top: -2px; /* Adjust the margin as needed */
      margin-left: 4px;
    }
    
    .fas.fa-share-alt {
      color: rgb(112, 99, 255);
      font-size: 33px; /* Adjust the font size as needed */
      margin-top: -2px; /* Adjust the margin as needed */
      margin-left: -2px;
      
    }
    
    .fas.fa-puzzle-piece {
      color:darkgray;
      font-size: 33px; /* Adjust the font size as needed */
      margin-top: -2px; /* Adjust the margin as needed */
      margin-left: 0px;
      

    }
    
    
    .nav-menu li a {
      position: relative; /* Add relative positioning */
      display: flex;
      padding: 8px 8px;
      border-radius: 4px;
      font-size: 12px;
      color: rgb(72, 72, 72);
      text-decoration: none;
    }
    
    .nav-menu li a i {
      margin-right: 5px;
      font-size: 24px;
      position: relative;
      top: 1px;
    }
    
    .subnav {
      width: auto;
      height: auto;
    
      
    }
    
    .subnav-menu {
      display: flex;
      width: 100%;
      margin: 0 0 60px 60px;
      list-style: none;
      padding: 0;
      font-size: 14px;
      justify-content: space-between;
      color: rgb(72, 72, 72);
    }
    
    .subnav-link {
      flex: 1;
      
      
    }
    .subnav-link a {
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 1em;
      white-space: nowrap;
      color: #333;
      transition: background-color 0.3s ease-in-out;
    }
    
    .subnav-link a:hover {
      background-color: transparent;
    }
    
    
    .subnav-item .inactive {
      pointer-events: none;
      color: black;
    }

 .ad-banner{
  display: flex;
  flex-direction: row;
  height: 250px;

   /* background: linear-gradient(to right, rgb(68, 189, 157), rgb(20, 198, 127));  */
   background-color: rgb(112, 99, 255);
  
   justify-content: center;
  align-items: center;
 }
 .banner-title{
  color: skyblue;
 }
 .content-cache00{
 
   margin-right: 1em;
 }



.wp-block-column{
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  
}

.primary-sidebar {
  display: flex;
  flex: 1;
  position: absolute; /* this makes sure that sidebar won't overlap other elements */
  flex-direction: column;
  top: 30em;
  left: 3em;
  padding: 20px;
  overflow-x: hidden;
  background-color: white;
  z-index: 0;
 
 
}

.primary-sidebar .block-i,
.primary-sidebar .block-ii,
.primary-sidebar .block-iii,
.primary-sidebar .block-iv {

  width: 180px;
  background-color: #ffffff;
 
  z-index: 0; /* this makes sure that sidebar will be on top of other elements */
 
}

.primary-sidebar .block-i .label, 
.primary-sidebar .block-ii .label,
.primary-sidebar .block-iii .label,
.primary-sidebar .block-iv .label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.primary-sidebar .block-i  ul,
.primary-sidebar .block-ii ul,
.primary-sidebar .block-iii  ul,
.primary-sidebar .block-iv  ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-sidebar .block-i  li a, 
.primary-sidebar .block-ii  li a,
.primary-sidebar .block-iii  li a,
.primary-sidebar .block-iv  li a{
  display: block;
  font-size: 12px;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
}
.show-all-container {
  text-align: center;
 
}
.show-all{
 
  font-size: 14px;
  color: #333;
}

.list-item {
  display: none;
}

.secondary-sidebar {
  /* Add some padding and a background color to the aside */
  position: absolute;
  flex: 3;
  top: 30em;
  float: right;
  display: flex;
  flex-direction: column;
  right: 50px

}

.secondary-sidebar label {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.secondary-sidebar input[type="text"],
.secondary-sidebar input[type="email"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em;
}
.secondary-sidebar input[type="checkbox"] {
  margin: 0 0.5em 0 0;
}
.secondary-sidebar button {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5em 1em;
  font-size: 0.9em;
}
.secondary-sidebar button:hover {
  background-color: #444;
  cursor: pointer;
}
.bloc-i {
  position: sticky;
  width: 200px;
  height: 400px;
  top: 5em;
  margin-bottom: 5em;
  padding: 2em;
  font-size: 12px;
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  border-top-color: gold;
  background-color: white;
  z-index: 0;
}
.bloc-i h3{
  font-size: 18px;
  font-weight: 600;
}

.bloc-ii {
  position: sticky;
  width: 200px;
  height: 480px;
  top: 0px; /* 30px from the bottom of the viewport */
  right: 0;
  overflow: hidden;
  margin-top: 812m;
  flex-direction: column;
  padding: 20px; /* Add some padding to the element*/
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  border-top-color: purple;
  background-color: white;
  z-index: 1;
}

.bloc-iii {
  position: sticky;
  width: 200px;
  height: 420px;
  bottom: 70em;
  right: 0;
  margin-top: 75em;
  flex-direction: column;
  padding: 20px; /* Add some padding to the element*/
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  overflow: scroll;
  border-top-color: palegreen;
  background-color: white;
  z-index: 100;
}

  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-decoration: none;
  }

    /* Style the table head */
    thead {
      background-color: #333;
      color: #fff;
      
    }

    /* Style the table cells */
    td, th {
      padding: 0.5em;
      text-align: left;
    }

   
    .card-stack{
      flex: 2;
      margin:1em 0 0 2em;
      align-items: center;
     
    }

  .card-container {
    display: inline-block;
    width: auto;
    margin: 0 1em 1em .5em; /* Add a top, right, bottom and left margin of 2em */
    padding: .5em;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
   

   

 
  }
  .card-row {
    display: inline-block;
    max-width: auto;
    /* this centers the row of cards horizontally */
    /* this centers the row of cards vertically */
    margin: 2em 0 0 2em; /* Add a top and bottom margin of 20 pixels */
    flex-wrap: nowrap;
    overflow: hidden;
   
  }
  .card-row-title {
    font-size: 1.5em; /* Set the font size to 1.5 times the default size */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Convert the text to uppercase */
    color: #333; /* Set the text color to a dark grey */
    margin: .5em 0 0 2em; /* Add a bottom margin of 1em */
   
 
  }

  .card {
    width: 100px;
    height: 100px;
   
   
  }
  .card-image{
    background-color: #f1f1f1;
  }

  .ad-card-image{
    width: 100px;
    height: 100px;
    display: block;
    object-fit: contain;
    align-items: center;
    margin: auto;
    background-color: #f1f1f1;
  }
  .card-body{
   margin-top: 12px;
  }
  .card-title{
    font-size: 12px;
    font-weight: bolder;
  }
  .card-description{
    font-size: 8px;
   
  }
  .card-navigation {
   
    bottom: 1em;
    margin: 0 60px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .prev-button,
  .next-button {
    left: -12px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding: 0.5em 1em;
    border-radius: 44px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #ddd;
    color: #000;
  }

  .scroll-left {
    visibility: hidden;
  }
  
  .scroll-right {
    position: relative;
    top: 33em;
    visibility: visible;
    opacity: .5;
    width: 20px;
    height: 90px;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    border-style: solid;
    border-width: 3px;
    border-color: rgb(205, 205, 205);
    border-radius: 10%;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    color: transparent;
    z-index: 1000;

  }
  .scroll-right i {
    display: inline-block;
    vertical-align: middle;
    color: slategray;
    font-size: 24px;
    
  }
  
  .card-row.scroll-start .scroll-left {
    visibility: visible;
  }
  
  .card-row.scroll-end .scroll-right {
    visibility: hidden;
  }
  .thumbs-up-btn {
    background: none;
    border: none;
    color: gainsboro;
    cursor: pointer;
  }
  .scroll-left:hover .card-container {
    transform: translateX(0%);
  }
  
  .scroll-right:hover .card-container {
    transform: translateX(-100%);
  }

  .refresh-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    margin:0 0 0 2em 3.5em ;
    cursor: pointer;
  }
  
  .refresh-btn {
    font-size: 50px;
    align-content: center;
    border: none;
    margin: 0 0 0 70px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .refresh-btn i {
    font-size: 33px;
    color: #333;
    align-content: center;
    margin: auto;
  }
  
 
  
  .comment-btn,
  .share-btn {
    background: none;
    border: none;
    border-color: #6c5ce7;
    color: gainsboro;
    cursor: pointer;
  }
  
  .thumbs-up-btn:hover,
  .comment-btn:hover,
  .share-btn:hover {
    color: #2d3436;
  }

  
  .coupon-stack {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 0;
    background-color: #f1f1f1;
  }
  .coupon-row-title{
    font-size: 1.5em; /* Set the font size to 1.5 times the default size */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Convert the text to uppercase */
    color: #333; /* Set the text color to a dark grey */
    margin: 0em 0 1em 4.5em; /* Add a bottom margin of 1em */

  }

  .coupon-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .coupon-stack:hover .coupon-row {
    opacity: 1;
    transform: translateY(0);
  }

  .coupon-container {
    width: calc(80.00% - 20px);
    height: 100px;
    top: 1.5em;
    margin: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .coupon-container:hover {
    transform: translateY(-10px);
  }
  
  .coupon-image {
    float: left;
    width: 30%;
    padding: 1em;
  }
  
  .coupon-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
  }
  
  .coupon-content {
    float: left;
    width: 70%;
    padding: 1em;
  }
  
  .coupon-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0.5em;
  }
  
  .coupon-source,
  .coupon-expiration {
    font-size: 14px;
    color: #777;
    margin: 0 0 0.5em;
  }
  
  .coupon-description {
    font-size: 14px;
    margin-bottom: 1em;
  }
  
  .coupon-buttons {
    display: flex;
    align-items: center;
    border: none;
  }
  
  .coupon-button {
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .coupon-button:hover {
    color: #3498db;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    padding: 45px;
    z-index: 10000;
  }
  
  footer h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(112, 112, 112);
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer li a,footer li a:hover {
    text-decoration: none;
    color: white;
  }
  .social {
    text-align: center;
  }
  
  .social h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
  }
  
  footer .footer-line {
    border: none;
    border-top: 1px solid rgb(255, 255, 255);;
    margin: 20px 0;
    color: #ffffff;
  }
  
  footer .copyright {
    text-align: center;
    font-size: 12px;
    color: rgb(112, 112, 112);
   
   
  }


 /* Use media queries to make the footer responsive on different screen sizes */
  @media (max-width: 768px) {

    body,
    .wrapper {
      display: block;
    }
    .body {
      grid-template-columns: none;
    }
    .nav-object,.nav-link {
      flex-wrap: nowrap; /* Prevent the nav links from */
  .search-container {
    justify-content: center;
  }
  
  .nav-link li {
   margin: 1em 0; /*Add space between nav links */
  }
  
  .nav-link li a {
    padding: 12px 8px; /* Increase padding for better touch experience */
    font-size: 18px; /* Increase font size for better readability */
    text-decoration: none;
  }
  
  .navbar .menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
    
    .card-container {
      flex-direction: column; /* Change the direction to vertical */
      align-items: center; /* Center the cards vertically */
      margin: .5em 0em 1em 1.5em; /* Adjust the margin to center the cards horizontally */
    }
    .card-row {
      margin: 1.5em 0 .5em 0; /* Adjust the margin to center the cards vertically */
    }
    .card-row-title {
      margin: 2em 0 0 0; /* Adjust the margin to center the title horizontally */
    }
    .card {
      width: 100%; /* Make the cards occupy the full width */
      height: auto; /* Allow the height to adjust based on content */
      margin:.5em 0 0 0; /* Add some spacing between the cards */
    }
    .ad-card-image {
      width: 100px;
    height: 100px;
    display: block;
    object-fit: contain;
    align-items: center;
    margin: auto;
    }
    .scroll-right {
      display: hidden;
      margin-left: 33px; /* adjust the position of the element for screens with a width of 800px or less */
   }
  
    .footer > div {
      width: 100%;
     
    }
  
    .nav-static,
    .sub-nav,
    .sub-nav-links{
      display: none;
    }
    .card-container {
      margin: 0 5px;
    }

  
    .card-container {
      margin: 0 2px;
    }



  }
  
  
  