/* Import Bootstrap styles */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital@1&display=swap');
  /* Use Poppins as the default font */
   * {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  /* Use consistent positive color patterns throughout */
  
  .body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 1em;
     
   
  }
  .wrapper {
    padding-right: 8px; /* 3 */
    padding-left: 8px; /* 3 */
    /* background-color: #fcf2f8; */
    /* background-color: #f7f7f7; */
    background-color: #f9f9f9;
   
  }
  /* .above-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
     background-color: rgb(52, 52, 52);
     
   } */
 
 
  
   .above-header.description{
     margin-left: 33px;
     color: silver;
       
     }
     .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; /* Add padding to the navbar */
    }
    
    .nav.brand-container {
     width: auto;
    }
    .logo, .logo:hover{
      margin-left: 1em;
      color: rgb(112, 99, 255);
      font-family: 'MuseoModerno', cursive;
      font-size: 36px;
      text-decoration: none;
      
    }
    
    .search-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      margin-left: .5em;
    }
    
    .search-form {
      display: flex;
      width: 100%;
      max-width: 400px;
      height: 2.5em;
      border-radius: 8px;
      background-color: gainsboro;
    }
    
    .search-form input {
      flex-grow: 1;
      border: none;
      background-color: transparent;
      color: gray;
      outline: none;
    }
    
    .search-form button {
      border: none;
      background-color: transparent;
      color: black;
      font-size: 1em;
      margin-right: 1em;
    }
    
    .nav-menu {
      display: flex;
      align-items: center;
      list-style: none;
      flex-wrap: wrap; /* Allow the nav links to wrap within the container */
    }
    
    .nav-menu li {
      margin-left: 1em;
    }
    .nav-object{
      background-color:rgb(46, 46, 46) ;
      border-style: solid;
      border-radius: 133px;
    } 

    .nav-link{
      font-size: 36px;
      font-weight: bolder;
    }
    .fas.fa-bell {
     color:orange;
    }
    .fas.fa-share-alt{
      color: rgb(112, 99, 255);
    }
    .fas.fa-puzzle-piece{
      color: darkgray;
    }
    
    .nav-menu li a {
      position: relative; /* Add relative positioning */
      display: flex;
      padding: 8px 8px;
      border-radius: 4px;
      font-size: 12px;
      color: rgb(72, 72, 72);
      text-decoration: none;
    }
    
    .nav-menu li a i {
      margin-right: 5px;
      font-size: 24px;
      position: relative;
      top: 1px;
    }
    
    .subnav {
      width: 100%;
      
    }
    
    .subnav-menu {
      display: flex;
      color: rgb(72, 72, 72);
      padding: 2px 0;
      list-style: none;
      margin: 0;
    }
    
    .subnav-link {
      flex: 1;
      text-align: center;
    }
    
    .subnav-link a,
    .subnav-link a:hover {
      text-decoration: none;
      color: rgb(72, 72, 72);
    }
    
    .subnav-item .inactive {
      pointer-events: none;
      color: black;
    }

 .ad-banner{
  display: flex;
  flex-direction: row;
  height: 250px;

   /* background: linear-gradient(to right, rgb(68, 189, 157), rgb(20, 198, 127));  */
   background-color: rgb(112, 99, 255);
  
   justify-content: center;
  align-items: center;
 }
 .banner-title{
  color: skyblue;
 }
 .content-cache00{
 
   margin-right: 1em;
 }



.wp-block-column{
  display: flex;
  flex-direction: row;
  
}

.primary-sidebar {
  display: flex;
  flex: 1;
  position: absolute; /* this makes sure that sidebar won't overlap other elements */
  flex-direction: column;
  top: 30em;
  left: 3em;
  padding: 20px;
  overflow-x: hidden;
  background-color: white;
  z-index: 0;
 
 
}

.primary-sidebar .block-i,
.primary-sidebar .block-ii,
.primary-sidebar .block-iii,
.primary-sidebar .block-iv {

  width: 180px;
  background-color: #ffffff;
 
  z-index: 0; /* this makes sure that sidebar will be on top of other elements */
 
}

.primary-sidebar .block-i .label, 
.primary-sidebar .block-ii .label,
.primary-sidebar .block-iii .label,
.primary-sidebar .block-iv .label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.primary-sidebar .block-i  ul,
.primary-sidebar .block-ii ul,
.primary-sidebar .block-iii  ul,
.primary-sidebar .block-iv  ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-sidebar .block-i  li a, 
.primary-sidebar .block-ii  li a,
.primary-sidebar .block-iii  li a,
.primary-sidebar .block-iv  li a{
  display: block;
  font-size: 12px;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
}
.show-all-container {
  text-align: center;
 
}
.show-all{
 
  font-size: 14px;
  color: #333;
}

.list-item {
  display: none;
}

.secondary-sidebar {
  /* Add some padding and a background color to the aside */
  position: absolute;
  flex: 3;
  top: 30em;
  float: right;
  display: flex;
  flex-direction: column;
  right: 50px

}

.secondary-sidebar label {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.secondary-sidebar input[type="text"],
.secondary-sidebar input[type="email"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em;
}
.secondary-sidebar input[type="checkbox"] {
  margin: 0 0.5em 0 0;
}
.secondary-sidebar button {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5em 1em;
  font-size: 0.9em;
}
.secondary-sidebar button:hover {
  background-color: #444;
  cursor: pointer;
}
.bloc-i {
  position: sticky;
  width: 200px;
  height: 400px;
  top: 5em;
  margin-bottom: 5em;
  padding: 2em;
  font-size: 12px;
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  border-top-color: gold;
  background-color: white;
  z-index: 0;
}
.bloc-i h3{
  font-size: 18px;
  font-weight: 600;
}

.bloc-ii {
  position: sticky;
  width: 200px;
  height: 480px;
  top: 0px; /* 30px from the bottom of the viewport */
  right: 0;
  overflow: hidden;
  margin-top: 812m;
  flex-direction: column;
  padding: 20px; /* Add some padding to the element*/
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  border-top-color: purple;
  background-color: white;
  z-index: 1;
}

.bloc-iii {
  position: sticky;
  width: 200px;
  height: 420px;
  bottom: 70em;
  right: 0;
  margin-top: 75em;
  flex-direction: column;
  padding: 20px; /* Add some padding to the element*/
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  overflow: scroll;
  border-top-color: palegreen;
  background-color: white;
  z-index: 100;
}

  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-decoration: none;
  }

    /* Style the table head */
    thead {
      background-color: #333;
      color: #fff;
      
    }

    /* Style the table cells */
    td, th {
      padding: 0.5em;
      text-align: left;
    }

    /* Style the table rows on hover */
    tr:hover {
      background-color: #eee;
    }
    .card-stack{
      margin-left: 5em;
      align-items: center;
    }

  .card-container {
    display: inline-block;
    flex: 2;
    align-items: center;
    width: 230px;
    height: 360px;
    margin: 0 1em 1em .5em; /* Add a top, right, bottom and left margin of 2em */
    padding: 1.5em;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: visible;
    z-index: 10;
   

 
  }
  .card-row {
    display: inline-block;
    width: auto;
    justify-content: center; /* this centers the row of cards horizontally */
    align-items: center; /* this centers the row of cards vertically */
    margin: 1em 0 0 0em; /* Add a top and bottom margin of 20 pixels */
    flex-wrap: nowrap;
  }
  .card-row-title {
    font-size: 1.5em; /* Set the font size to 1.5 times the default size */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Convert the text to uppercase */
    color: #333; /* Set the text color to a dark grey */
    margin: 3.5em 0 0 4em; /* Add a bottom margin of 1em */
   
 
  }

  .card {
    width: 200px;
    height: 200px;
   
   
  }
  .ad-card-image{

    width: 100px;
    height: 100px;
    left: 33px;
    align-items: center;
  
  }
  .card-body{
   margin-top: 12px;
  }
  .card-title{
    font-size: 12px;
    font-weight: bold;
  }
  .card-description{
    font-size: 8px;
  }

  .scroll-left {
    visibility: hidden;
  }
  
  .scroll-right {
    position: relative;
    top: 33em;
    visibility: visible;
    opacity: .5;
    width: 20px;
    height: 90px;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    border-style: solid;
    border-width: 3px;
    border-color: rgb(205, 205, 205);
    border-radius: 10%;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    color: transparent;
    z-index: 1000;

  }
  .scroll-right i {
    display: inline-block;
    vertical-align: middle;
    color: slategray;
    font-size: 24px;
    
  }
  
  .card-row.scroll-start .scroll-left {
    visibility: visible;
  }
  
  .card-row.scroll-end .scroll-right {
    visibility: hidden;
  }
  .thumbs-up-btn {
    background: none;
    border: none;
    color: gainsboro;
    cursor: pointer;
  }
  .scroll-left:hover .card-container {
    transform: translateX(0%);
  }
  
  .scroll-right:hover .card-container {
    transform: translateX(-100%);
  }

  .refresh-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 0 2em 3.5em ;
    cursor: pointer;
  }
  
  .refresh-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .refresh-btn i {
    font-size: 2rem;
    color: #666;
  }
  
  .refresh-btn:hover i {
    color: #333;
  }
  
  .comment-btn,
  .share-btn {
    background: none;
    border: none;
    border-color: #6c5ce7;
    color: gainsboro;
    cursor: pointer;
  }
  
  .thumbs-up-btn:hover,
  .comment-btn:hover,
  .share-btn:hover {
    color: #2d3436;
  }


  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    padding: 45px;
    z-index: 10000;
  }
  
  footer h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(112, 112, 112);
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer li a,footer li a:hover {
    text-decoration: none;
    color: white;
  }
  .social {
    text-align: center;
  }
  
  .social h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
  }
  
  footer .footer-line {
    border: none;
    border-top: 1px solid rgb(255, 255, 255);;
    margin: 20px 0;
    color: #ffffff;
  }
  
  footer .footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
   
   
  }


 /* Use media queries to make the footer responsive on different screen sizes */
  @media (max-width: 768px) {

    body,
    .wrapper {
      display: block;
    }
    .body {
      grid-template-columns: none;
    }
    .nav-object,.nav-link {
      flex-wrap: nowrap; /* Prevent the nav links from */
  .search-container {
    justify-content: center;
  }
  
  .nav-link li {
   margin: 1em 0; /*Add space between nav links */
  }
  
  .nav-link li a {
    padding: 12px 8px; /* Increase padding for better touch experience */
    font-size: 16px; /* Increase font size for better readability */
  }
  
  .navbar .menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
    
    .card-container {
      flex-direction: column; /* Change the direction to vertical */
      align-items: center; /* Center the cards vertically */
      margin: 0 1.5em 2em 1.5em; /* Adjust the margin to center the cards horizontally */
    }
    .card-row {
      margin: 1.5em 0; /* Adjust the margin to center the cards vertically */
    }
    .card-row-title {
      margin: 2em 0 0 0; /* Adjust the margin to center the title horizontally */
    }
    .card {
      width: 100%; /* Make the cards occupy the full width */
      height: auto; /* Allow the height to adjust based on content */
      margin-bottom: 1.5em; /* Add some spacing between the cards */
    }
    .ad-card-image {
      width: 100%; /* Make the image occupy the full width */
      height: auto; /* Allow the height to adjust based on content */
    }
    .scroll-right {
      display: hidden;
      margin-left: 33px; /* adjust the position of the element for screens with a width of 800px or less */
   }
  
    .footer > div {
      width: 100%;
     
    }
  
    .nav-static,
    .sub-nav,
    .sub-nav-links{
      display: none;
    }
    .card-container {
      margin: 0 5px;
    }

  
    .card-container {
      margin: 0 2px;
    }



  }
  
  
  