/* Import Bootstrap styles */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
  /* Use Poppins as the default font */
   * {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  /* Use consistent positive color patterns throughout */
  
  .body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 1em;
     
   
  }
  .wrapper {
    padding-right: 8px; /* 3 */
    padding-left: 8px; /* 3 */
    background-color: #fcf2f8;
    /* background-color: #f7f7f7; */
   
  }
  .above-header{
   display: flex;
   flex-direction: row;
   justify-content: center;
    /* background-color: rgb(52, 52, 52); */
    background-color: rgb(58, 58, 58);
    
  }


 
  .above-header.description{
    margin-left: 33px;
    /* color: silver; */
    color: white;
      
    }

nav {
    background-color: darkmagenta; 
    display: flex;
    
    justify-content: space-between;

    
  }
  .navbar-toggle {
    display: none; /* Hide the toggle button by default */
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.5em;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
    
  }
  
  .nav-links li {
    margin-left: 1em;
   
   
  }
  
  .nav-links li a {
    display: flex;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    /* background-color: #333; */
    background-color: rgb(120, 108, 213);
  }
  
  .nav-links li a i {
    margin-right: 5px;
    font-size: 18px;
  }
  .nav-links li.button-red a {
    background-color: #ff0000;
  }
  
  #button-green a {
    background-color: rgb(120, 108, 213);
    
    color: rgb(255, 255, 255);
  }
  #button-green a:hover {
    background-color: #00ff00;
    color: rgb(255, 255, 255);
  }
  .navbar.responsive .nav-links {
    display: block; /* Show the navigation links as a block element */
  }
  .navbar.responsive .nav-links li {
    text-align: center; /* Center the navigation links */
  }

 

  .sub-nav {
    background-color:  #00F2F3;
    color: #333;
  }
  
  .sub-nav-links, .sub-nav-links a {
    display:flex;
    color: black;
    justify-content: space-evenly;
    padding: 2px 0; /* Add padding to the top and bottom of the other links */
    text-decoration: none;
    color: blue;

}

.sub-nav-links .inactive {
  pointer-events: none;
  color: black;
}

.ad-banner{
  display: flex;
  flex-direction: row;
  height: 250px;
   background: linear-gradient(to right, rgb(68, 189, 157), rgb(20, 198, 127));
  /* background-color: darkmagenta; */
   /* background-color: #fcf2f8; */
  justify-content: center;
  align-items: center;

 

 }
 .content-cache00{
   display: flex;
   flex: 1;
   margin-right: 10em;
 }

 .content-cache01{
   display: flex;
   flex: 2;
   flex-direction: row;
   margin-right: 8em;
   height: 200px;
   align-items: center;
   border-top-color: white;
   border-width: 2px;

 }
 .img-cache01{
  width: 300px;
  margin-left: 5em;
 }

 .banner-title{
   margin-top: 5px;
   flex: 2;
   margin-left: -15em;
   text-align: center;
   font-size: 33px;
   
 }
.wp-block-column{
  display: flex;
  flex-direction: row;
  
}

.primary-sidebar {
  display: flex;
  flex: 1;
  position: absolute; /* this makes sure that sidebar won't overlap other elements */
  flex-direction: column;
  top: 30em;
  left: 3em;
  padding: 20px;
  overflow-x: hidden;
  background-color: white;
  z-index: 0;
 
 
}

.primary-sidebar .block-i,
.primary-sidebar .block-ii,
.primary-sidebar .block-iii,
.primary-sidebar .block-iv {

  width: 180px;
  background-color: #ffffff;
 
  z-index: 0; /* this makes sure that sidebar will be on top of other elements */
 
}

.primary-sidebar .block-i .label, 
.primary-sidebar .block-ii .label,
.primary-sidebar .block-iii .label,
.primary-sidebar .block-iv .label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.primary-sidebar .block-i  ul,
.primary-sidebar .block-ii ul,
.primary-sidebar .block-iii  ul,
.primary-sidebar .block-iv  ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-sidebar .block-i  li a, 
.primary-sidebar .block-ii  li a,
.primary-sidebar .block-iii  li a,
.primary-sidebar .block-iv  li a{
  display: block;
  font-size: 12px;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
}
.show-all-container {
  text-align: center;
 
}
.show-all{
 
  font-size: 14px;
  color: #333;
}

.list-item {
  display: none;
}

.secondary-sidebar {
  /* Add some padding and a background color to the aside */
  position: absolute;
  flex: 3;
  top: 30em;
  float: right;
  display: flex;
  flex-direction: column;
  right: 50px

}

.secondary-sidebar label {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.secondary-sidebar input[type="text"],
.secondary-sidebar input[type="email"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em;
}
.secondary-sidebar input[type="checkbox"] {
  margin: 0 0.5em 0 0;
}
.secondary-sidebar button {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5em 1em;
  font-size: 0.9em;
}
.secondary-sidebar button:hover {
  background-color: #444;
  cursor: pointer;
}
.bloc-i {
  position: sticky;
  width: 200px;
  height: 400px;
  top: 5em;
  margin-bottom: 5em;
  padding: 2em;
  font-size: 12px;
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  border-top-color: gold;
  background-color: white;
  z-index: 0;
}
.bloc-i h3{
  font-size: 18px;
  font-weight: 600;
}

.bloc-ii {
  position: sticky;
  width: 200px;
  height: 420px;
  top: 0px; /* 30px from the bottom of the viewport */
  right: 0;
  overflow: hidden;
  margin-top: 812m;
  flex-direction: column;
  padding: 20px; /* Add some padding to the element*/
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  border-top-color: purple;
  background-color: white;
  z-index: 1;
}

.bloc-iii {
  position: sticky;
  width: 200px;
  height: 420px;
  bottom: 70em;
  right: 0;
  margin-top: 75em;
  flex-direction: column;
  padding: 20px; /* Add some padding to the element*/
  border-top-style: solid;
  border-width: 5px;
  border-radius: 2px;
  overflow: scroll;
  border-top-color: palegreen;
  background-color: white;
  z-index: 100;
}

  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-decoration: none;
  }

    /* Style the table head */
    thead {
      background-color: #333;
      color: #fff;
      
    }

    /* Style the table cells */
    td, th {
      padding: 0.5em;
      text-align: left;
    }

    /* Style the table rows on hover */
    tr:hover {
      background-color: #eee;
    }
  
    .search-form {
      display: flex;
      width: 48em;
      height: 2.5em;
      border-radius: 8px;
      background-color: white;
    }
    
    .search-form input {
      width: 45em;
      border: none;
      background-color: transparent;
      color: gray;
      flex-grow: 1; /* Make the input field fill the remaining space */
      outline: none;
    }
    
    .search-form button {
      border: none;
      background-color: transparent;
      color: black;
      font-size: 1em;
      margin-right: 3em;
     
    }
 

  .card-container {
    display: inline-block;
    flex: 2;
    align-items: center;
    width: 230px;
    height: 360px;
    margin: 0 1.5em 2em 2em; /* Add a top, right, bottom and left margin of 2em */
    padding: 1.5em;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-wrap: nowrap;
    overflow:visible;
    z-index: 10;
   

 
  }
  .card-row {
    display: inline-block;
    width: auto;
    justify-content: center; /* this centers the row of cards horizontally */
    align-items: center; /* this centers the row of cards vertically */
    flex-wrap: wrap;
    margin: 1.5em 0 0 .5em; /* Add a top and bottom margin of 20 pixels */
    scroll-snap-align: end; /* this ensures the scroll snaps to the end of the last card */
    scroll-snap-type: x mandatory; /* this makes the scroll snap horizontally to the card end */
  }
  .card-row-title {
    font-size: 1.5em; /* Set the font size to 1.5 times the default size */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Convert the text to uppercase */
    color: #333; /* Set the text color to a dark grey */
    margin: 3.5em 0 0 4em; /* Add a bottom margin of 1em */
   
 
  }

  .card {
    width: 250px;
    height: 400px;
   
  }
  .ad-card-image{

    width: 200px;
    height: 200px;
    align-content: center;
  
  }
  /* .card-content{
    margin: 12px;
  
    border-radius: 4px;
    background-color: lightgray;
    opacity: .8;
  }
  .card-title{
    font-size: 14px;
    font-weight: bold;
  }
  .card-description{
    font-size: 18px;
    color: rgb(60, 137, 60);
  } */

  .scroll-left {
    visibility: hidden;
  }
  
  .scroll-right {
    position: relative;
    top: 33em;
    visibility: visible;
    opacity: .5;
    width: 20px;
    height: 90px;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    border-style: solid;
    border-width: 3px;
    border-color: rgb(205, 205, 205);
    border-radius: 10%;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    color: transparent;
    z-index: 1000;

  }
  .scroll-right i {
    display: inline-block;
    vertical-align: middle;
    color: slategray;
    font-size: 24px;
    
  }
  
  .card-row.scroll-start .scroll-left {
    visibility: visible;
  }
  
  .card-row.scroll-end .scroll-right {
    visibility: hidden;
  }
  .thumbs-up-btn {
    background: none;
    border: none;
    color: gainsboro;
    cursor: pointer;
  }
  .scroll-left:hover .card-container {
    transform: translateX(0%);
  }
  
  .scroll-right:hover .card-container {
    transform: translateX(-100%);
  }

  .refresh-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 0 2em 3.5em ;
    cursor: pointer;
  }
  
  .refresh-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .refresh-btn i {
    font-size: 2rem;
    color: #666;
  }
  
  .refresh-btn:hover i {
    color: #333;
  }
  
  .comment-btn,
  .share-btn {
    background: none;
    border: none;
    border-color: #6c5ce7;
    color: gainsboro;
    cursor: pointer;
  }
  
  .thumbs-up-btn:hover,
  .comment-btn:hover,
  .share-btn:hover {
    color: #2d3436;
  }
  
  .footer {
    display: flex;
    position: relative;
    top: 10em;
  
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    color: rgb(112, 112, 112);
    padding: 35px;
    z-index: 10000;
  }
  
  .footer h3 {
    font-size: 24px;
   
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
   
  }
  
  .footer li a{
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links a {
    font-size: 12px;
    color: #fff;
  }

  @media (max-width: 992px) {
    .navbar {
      display: flex;
      align-items: center;
    }
    .navbar-brand {
      flex: 1;
    }
    .search-form {
      flex: 2;
    }
    .navbar-toggle {
      display: none;
    }
    .nav-links {
      flex: 3;
      display: flex;
      justify-content: flex-end;
    }
    .scroll-right,
    .scroll-left{
     display: none;
     
    }
    
    .secondary-sidebar {
      position: absolute;
      width: 200px; /* Take up the full width of the screen */
      float: right; /* Don't float the element */
      top: 500px;
    }
    .bloc-i{
    display: none;
    }
    .bloc-ii{
     display: none;
    }
    .bloc-iii{
      display: none;
    }
  }

  
  
  /* Use media queries to make the footer responsive on different screen sizes */
  @media (max-width: 767px) {

    body,
    .wrapper {
      display: block;
    }
    .body {
      grid-template-columns: none;
    }
    nav .nav-links {
      display: none; /* Hide the navigation links by default */
    }
    .navbar-toggle {
      display: block; /* Show the toggle button */
    }
    .navbar.responsive .nav-links {
      display: block; /* Show the navigation links as a block element */
    }
    .navbar.responsive .nav-links li {
      text-align: center; /* Center the navigation links */
    }
    .sub-nav-links {
      display: block; /* Change the display of the sub-nav links to a block element */
    }
    .sub-nav-links a {
      display: inline-block; /* Change the display of the sub-nav links to an inline-block element */
    }
    .search-form {
      display: block; /* Change the display of the search form to a block element */
    }
    .search-form input {
      width: calc(100% - 3em); /* Make the input field fill the remaining space except for the margin of the search button */
    }
    .search-form button {
      display: inline-block; /* Change the display of the search button to an inline-block element */
      margin: 0; /* Remove the margin from the search button */
    }
    .card-container {
      margin: 0 10px;
    }
    .scroll-right {
      margin-left: 33px; /* adjust the position of the element for screens with a width of 800px or less */
   }
  
    .footer {
      flex-direction: column;
    }
    .footer > div {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .card-container {
      margin: 0 5px;
    }
  }

  @media screen and (max-width: 400px) {
    .card-container {
      margin: 0 2px;
    }
  }
  @media (max-width: 375px) {
    body,
    .wrapper {
      display: block;
    }
    .body {
      grid-template-columns: none;
    }
    nav .nav-links {
      display: none; /* Hide the navigation links by default */
    }
    .navbar-toggle {
      display: block; /* Show the toggle button */
    }
    .navbar.responsive .nav-links {
      display: block; /* Show the navigation links as a block element */
    }
    .navbar.responsive .nav-links li {
      text-align: center; /* Center the navigation links */
    }
    .sub-nav-links {
      display: block; /* Change the display of the sub-nav links to a block element */
    }
    .sub-nav-links a {
      display: inline-block; /* Change the display of the sub-nav links to an inline-block element */
    }
    .search-form {
      display: block; /* Change the display of the search form to a block element */
    }
    .search-form input {
      width: calc(100% - 3em); /* Make the input field fill the remaining space except for the margin of the search button */
    }
    .search-form button {
      display: inline-block; /* Change the display of the search button to an inline-block element */
      margin: 0; /* Remove the margin from the search button */
    }
    .card-container {
      margin: 0 2px;
    }
  }
  


  
