@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital@1&display=swap');
a{ 
    color: dimgray;
 }    
 body {
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-family: sans-serif;
 /* background: linear-gradient(to right,purple, midnightblue); */
  /* background-color: rgb(68, 189, 157); */
  background-color: rgb(219,218,218);;
}
.import-form{
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: auto;
  margin: 25px 25px;
  padding: 12px;
  border-radius: 24px;
  /* background-color: rgb(68, 189, 157); */


}
.top-header{
  flex: 1;
  width: 800px;
 height: 600px;
 padding: 12px;
 border-radius: 24px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 /* background: linear-gradient(to right, rgb(68, 189, 157), rgb(20, 198, 127)); */
 background-color: #6c5ce7;;
}

.top-brand{
  margin-top: 18px;
  text-decoration: none;
  margin-left: 12px;
  font-family: 'MuseoModerno', cursive;
  font-size: 18px;
  color: white;
  border-color: #6c5ce7;
}

.top-cta{
  justify-content: center;
  margin-top: 94px;
  margin-left: 12px;
  color: white;
}
.ad-banner{
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  background-color: rgb(37, 37, 37);

}
.import-cache010{
  margin-left: 12px;
  margin-top: 12px;
  font-size: 18px;
  color: silver;
}

.signup-form {

  flex: 2;
  width: 400px;
  height: 600px;
  padding: 12px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.login-form{
  display: inline-block;
  flex: 2;
  width: 400px;
  height: 600px;
  padding: 12px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;

}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-input {

  font-size: 1.2em;
  margin-right: 198px;

  
}
.password-input {

font-size: 1.2em;
margin-right: 220px;


}
input {
  width: 300px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  font-size: 1.2em;
}

button {
  width: 300px;
  padding: 10px;
  margin-top: 33px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  background-color:  palevioletred;
  color: white;
  cursor: pointer;
}
.google-btn{

    width: 300px;
    margin-top: 3px;
   background-color: rgb(92, 127, 203);

}
input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 270px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.store-cookie{
   font-size: 18px;
    margin-top: -22px;
    
  
}
.password-container {
  position: relative;
}

.password-container button {
  position: absolute;
  width: 60px;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 3px;
  margin-left: 2px;
  height: 20px;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
}
.forgot-password {
  display: inline-block;
  margin-left: 200px;
  margin-top: 12PX;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  
}
hr {
  border: none;
  border-top: 2px solid silver;
  width: 50%;
  height: 1px;
  text-align: center;
}
.or-box {
  display: flex;
  align-items: center;
  padding: 10px;
}
.e-consent{
  margin-top: 0;

}