a{ 
    color: dimgray;
 }    
 body {
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-family: sans-serif;
 /* background: linear-gradient(to right,purple, midnightblue); */
  background-color: rgb(68, 189, 157);
}
.signup-form {
  display: inline-block;
  width: 400px;
  height: 600px;
  margin: 25px 25px;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.login-form{
  display: inline-block;
  width: 400px;
  height: 600px;
  margin: 25px 25px;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-input {

  font-size: 1.2em;
  margin-right: 198px;

  
}
.password-input {

font-size: 1.2em;
margin-right: 220px;


}
input {
  width: 300px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  font-size: 1.2em;
}

button {
  width: 300px;
  padding: 10px;
  margin-top: 33px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  background-color:  palevioletred;
  color: white;
  cursor: pointer;
}
.google-btn{

    width: 300px;
    margin-top: 3px;
   background-color: rgb(92, 127, 203);

}
input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 270px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.store-cookie{
   font-size: 18px;
    margin-top: -22px;
    
  
}
.password-container {
  position: relative;
}

.password-container button {
  position: absolute;
  width: 60px;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 3px;
  margin-left: 2px;
  height: 20px;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
}
.forgot-password {
  display: inline-block;
  margin-left: 200px;
  margin-top: 12PX;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  
}
hr {
  border: none;
  border-top: 2px solid silver;
  width: 50%;
  height: 1px;
  text-align: center;
}
.or-box {
  display: flex;
  align-items: center;
  padding: 10px;
}
.e-consent{
  margin-top: 0;

}